<body>
  <ul class="nav nav-pills">
    <li class="logo">
        <img class= 'logo-img' src="assets/logo1.png" alt="Logo of the page">
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/products']">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/customers']">Customers</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Disabled</a>
    </li> -->
  </ul>
<router-outlet></router-outlet>
</body>